{% extends "layout.html" %}
{% load static %}

{% block content %}

<section class="contact_section service_section layout_padding">
  <div class="contact_bg_box">
    <div class="img-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
  </div>
  <div class="container">
    <div class="heading_container heading_center py-2">
      <h2>
        User Queries
      </h2>
  </div>
      {% if unresponded_queries %}
      <h4 class="pt-5">
        Unresponded Queries
      </h4>
      {% endif %}
      {% for query in unresponded_queries %}
      <form  method="POST">
      {% csrf_token %}
        <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="contact_form-container">
            <div>
              <div class="box">
                <div class="detail-box">
                  <p style="color: #101010; font-size: 14px;">{{query.query_user}}</p>
                  <h6 style="color: #1c1c1c;">{{query.subject}}</h6>
                  <p style="color: #101010;">{{query.message}}</p>
                  <div class="row">
                    <div class="col-sm-12 col-lg-9">
                        <input type="text" id="response" style="border: navy 1px solid;" name="response" value="{% if query.admin_response %}{{query.admin_response}}{% endif %}"/>    
                        <input type="text" name="query_id" value="{{ query.id }} " style="display: none;" />
                      </div>
                      <div class="col-sm-12 col-lg-3">
                        <button type="submit">
                          Respond
                        </button>
                      </div>
                    </div>
                </div>
              </div>    
                  </div>
                </div>
            </div>
          </div>
        </form>
          {% endfor %}
          {% if responded_queries %}
          <h4 class="pt-5">
            Responded Queries
          </h4>
          {% endif %}
              {% for query in responded_queries %}
      <form  method="POST">
      {% csrf_token %}
        <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="contact_form-container">
            <div>
              <div class="box">
                <div class="detail-box">
                  <p style="color: #101010; font-size: 14px;">{{query.query_user}}</p>
                  <h6 style="color: #1c1c1c;">{{query.subject}}</h6>
                  <p style="color: #101010;">{{query.message}}</p>
                  <div class="row">
                    <div class="col-sm-12 col-lg-9">
                        <input type="text" id="response" style="border: #1c1c1c 1px solid;" name="response" value="{% if query.admin_response %}{{query.admin_response}}{% endif %}"/>    
                        <input type="text" name="query_id" value="{{ query.id }} " style="display: none;" />
                      </div>
                      <div class="col-sm-12 col-lg-3">
                        <button type="submit">
                          Respond
                        </button>
                      </div>
                    </div>
                </div>
              </div>    
                  </div>
                </div>
            </div>
          </div>
        </form>
          {% endfor %}
  </div>
</section>

{% endblock content %}