<section class="service_section layout_padding ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Products
        </h2>
      </div>


      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="box">
    
                <div class="img-box">    
                    {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'edit_product' product.id %}" class="p-2">
                                Edit
                            </a>         
                            <a href="{% url 'delete_product' product.id %}" class="text-danger">
                                Delete
                            </a>               
                        </div>
                    </div>
                    {% endif %}
                    {% for media in product.productmedia_set.all %}
                        <img src="{{ media.media_file.url }}" alt="{{ product.product_name }} Image" class="w-100">
                    {% endfor %}
                </div>
    
                <div class="detail-box">
              <h6>
                {{ product.product_name }}
              </h6>
              <p>
                {{ product.product_description }}
              </p>
              <a href="{% url 'product' product.id %}">
                More Details
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>