{% extends "layout.html" %}
{% load static %}

{% block content %}
<section class="service_section layout_padding ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
            {{ newsletter.newsletter_title }}
        </h2>
      </div>


      <div class="row">
        {% for newsletter in newsletters %}
        <div class="col-md-6">
            <div class="box">
    
                <div class="img-box">    
                    {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'edit_newsletter' newsletter.id %}" class="p-2">
                                Edit
                            </a>         
                            <a href="{% url 'delete_newsletter' newsletter.id %}" class="text-danger">
                                Delete
                            </a>               
                        </div>
                    </div>
                    {% endif %}
                    {% for media in newsletter.newslettermedia_set.all %}
                        <img src="{{ media.media_file.url }}" alt="{{ newsletter.newsletter_name }} Image" class="w-100">
                    {% endfor %}
                </div>
    
                <div class="detail-box">
                  <small>{{newsletter.newsletter_author}}</small>
              <p>
                {{ newsletter.newsletter_content}}
              </p>
              <a href="{% url 'newsletter' newsletter.id %}">
                Read Full Blog
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>


{% endblock content %}